@font-face {
    font-family: cursed;
    src: url(font/CursedTimerUlil-Aznm.ttf);
}

body{
    text-align: center;
    background-color: #1B244A;
}

#center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

#scoreboard{
    display: flex;
    width: 500px;
    height: 300px;
    justify-content: space-around;   
}

.title{
    font-family: Verdana;
    font-size: 40px;
    font-weight: 700;
    line-height: 35.89px;
    color: #EEEEEE;
    margin-bottom: 20px;
}

.score{
    width: 155px;
    height: 120px;
    top: 125px;
    left: 82px;
    gap: 0px;
    border-radius: 5px 0px 0px 0px;
    opacity: 0px;
    background-color: #080001;
    font-family: cursed;
    font-size: 90px;
    font-weight: 400;
    line-height: 126.67px;
    text-align: center;
    color: #F94F6D;
    margin: 20px 0px;
}

.point-button{
    width: 45px;
    height: 45px;
    top: 271px;
    left: 192px;
    gap: 0px;
    border-radius: 5px;
    border: 2px solid #9AABD8;
    background-color: transparent;
    margin: 0px 2px;
    font-family: cursed;
    font-size: 18px;
    font-weight: 400;
    line-height: 27.81px;
    color: #9AABD8;
}